@import url('./css/nav.css');
@import url('./css/aside.css');
@import url('./css/users.css');
@import url('./css/responsive.css');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}
main{
    display: flex;
    height: 95vh;
    background-color: red;
}
nav{}
aside{
    display: flex;
    flex: 1;
}


