* {
  line-height: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f3e5d8;
  display: flex;
  justify-content: center;
}
h2 {
  color: #7d483c;
}
hr {
  margin: 30px;
}
.card {
  background-color: #fff;
  max-width: 650px;
  margin: 0 20px;
  padding: 20px;
}
.img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.flex {
  display: flex;
}
.preparation {
  background-color: #743c552a;
  padding: 20px 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
h1 {
  font-size: 2.5rem;
  color: #302c2b;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.1rem;
  color: #615755;
  font-weight: 500;
}
li {
  font-size: 1.1rem;
  color: #743c55;
  margin-block: 5px;
}
ol li,
ul li {
  font-weight: 700;
  padding-left: 30px;
}
ol li {
  margin-left: -15px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  li {
    font-size: 0.8rem;
  }
}
.preparation h2,
tr td {
  color: #743c55;
}
table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #61575585;
}
th {
  text-align: left;
  color: #615755;
}
tr td,
th {
  padding: 10px 25px;
  font-weight: 700;
}
