* {
  line-height: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f3e5d8;
  display: flex;
  justify-content: center;
}
h2 {
  color: #7d483c;
}
.card {
  background-color: #fff;
  max-width: 650px;
  margin: 0 20px;
  padding: 20px;
}
.img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.flex {
  display: flex;
}
.title {
  width: 50%;
}
.title,
.value {
  font-weight: 700;
  padding-inline-start: 20px;
}
h1 {
  font-size: 2.5rem;
  color: #302c2b;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.1rem;
  color: #615755;
}
li {
  font-size: 1.1rem;
  color: #615755;
  margin-block: 5px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  li {
    font-size: 0.8rem;
  }
}
.preparation h2,
.value {
  color: #743c55;
}
