/* navbar section style  */
@import url("./css/./navbar.css");
@import url("./css/./banner.css");
@import url("./css/./achievement.css");
@import url("./css/./services.css");
@import url("./css/./testimonials.css");
@import url("./css/./form.css");
@import url("./css/./footer.css");
:root {
  --blue: #2676f0;
}
.full {
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-inline: 20px;
}
img {
  width: 100%;
  display: inline-block;
}
/* text style section */
/* <h2>Empower Your2</h2> */

h2 {
  font-size: 2rem;
  font-weight: 600;
}
/* <h1>Business1</h1> */
h1 {
  font-size: 4rem;
  color: var(--blue);
}
/* <h3>Who We Are</h3> */
h3 {
  font-size: 2rem;
}
/* <h4>1000+</h4> */
h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}
/* <h5>Our Services</h5> */
h5 {
  font-size: 2rem;
  color: var(--blue);
}
/* <h6>10+ Years</h6> */
h6 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
/* <p class="text-1">Digital Strategy</p> */
.text-1,
.text-2 {
  font-weight: 700;
  font-size: 1.2rem;
}
/* <p class="text-2">Satisfied Clients</p> */
.text-2 {
  color: white;
}
/* <p class="text-3">Read More</p> */
.text-3 {
  font-weight: 600;
  color: white;
}
/* <p class="text-4">Get Started</p> */
.text-4 {
  font-weight: 600;
  color: var(--blue);
  padding: 10px 20px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
}
.text-4:hover {
  color: white;
  background-color: var(--blue);
}
.text-5 {
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  margin-top: 15px;
}
.text-5:hover {
  background-color: white;
  color: var(--blue);
}

