
@media(max-width:1200px){
    nav{
        width: 35%;
    }
    
}
@media(max-width:1000px){
    nav{
        width: 40%;
    }
}
@media(max-width:600px){
    /* main.active nav{
        width: 100%;
    }
    main.active aside{
        display: none;
    }
    main.active aside{
        width: 100%;
    } */
}